* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  font-family: sans-serif;
}



h1 {
  color: purple;
  font-size: 60px;
}



#bear-photo {
  width: 250px;
}


.special {
  color: teal;
  font-size: 30px;
  border: 1px solid teal;
}



input[type="password"] {
  width: 100px;
  height: 50px;
}

/* 
p {
  background-color: white;
} */






